<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/png" href="~/images/icons/favicon-16x16.png" sizes="16x16"/>
    <link rel="icon" type="image/png" href="~/images/icons/favicon-32x32.png" sizes="32x32" />
    <title>@ViewData["Title"] - Alter Ego</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/lib/animate.css/animate.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

        <link rel="stylesheet" href="~/css/pe-icons/pe-icon-7-stroke.css" />
        <link rel="stylesheet" href="~/css/pe-icons/helper.css" />
        <link rel="stylesheet" href="~/css/stroke-icons/style.css" />
        <link rel="stylesheet" href="~/css/style.css" />

        <link rel="stylesheet" href="~/lib/simplemde/dist/simplemde.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="~/lib/animate.css/animate.min.css" />
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

        <link rel="stylesheet" href="~/css/pe-icons/pe-icon-7-stroke.min.css" />
        <link rel="stylesheet" href="~/css/pe-icons/helper.min.css" />
        <link rel="stylesheet" href="~/css/stroke-icons/style.min.css"/>
        <link rel="stylesheet" href="~/css/style.min.css" asp-append-version="true"/>

        <link rel="stylesheet" href="~/lib/simplemde/dist/simplemde.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="wrapper">
        @Html.Partial("_Navbar")

        <div class="container">
            <section class="content">
                @RenderBody()
            </section>
        </div>
    </div>
    <environment names="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        @* Further global script files should be added here *@
        <script src="~/js/pace.min.js" asp-append-version="true"></script>
        <script src="~/lib/simplemde/dist/simplemde.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-timeago/jquery.timeago.js" asp-append-version="true"></script>
        <script src="~/js/power.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        @* Further global script files (minified) should be added here *@
        <script src="~/js/pace.min.js" asp-append-version="true"></script>
        <script src="~/lib/simplemde/dist/simplemde.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-timeago/jquery.timeago.min.js" asp-append-version="true"></script>
        <script src="~/js/power.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
