<section class="content">
    <div class="back-link">
        <a asp-controller="Home" asp-action="Index" class="btn btn-accent">Return home</a>
    </div>

    <div class="container-center md animated slideInDown">

        <div class="view-header">
            <div class="header-icon">
                <i class="pe page-header-icon pe-7s-close-circle"></i>
            </div>
            <div class="header-title">
                <h3>404</h3>
                <small>
                    Page Not Found
                </small>
            </div>
        </div>

        <div class="panel panel-filled">
            <div class="panel-body">
                Sorry, but the page you are looking for has note been found. Please double-check that you entered the correct address in your address bar, or click the button below to return home.
            </div>
        </div>
        <div>
            <a asp-controller="Home" asp-action="Index" class="btn btn-accent">Back to site</a>
        </div>

    </div>
</section>