@model AlterEgo.Models.HomeViewModels.IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Alter Ego</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-7">
        <h2>A sample news post</h2>
        <p>@DateTime.Today.ToString("g") by Karantor#2228</p>
        <hr />
        <p>This blog post shows a few different types of content that's supported and styled with Bootstrap. Basic typogrophy, images, and code are all supported.</p>

        <h2>A sample news post</h2>
        <p>@DateTime.Today.ToString("g") by Karantor#2228</p>
        <hr />
        <p>This blog post shows a few different types of content that's supported and styled with Bootstrap. Basic typogrophy, images, and code are all supported.</p>
    </div>
    <div class="col-lg-5">
        <h2>Recent News</h2>
        <ul class="list-unstyled">
            @foreach (var item in Model.News)
            {
                var dateTimeOffset = DateTimeOffset.FromUnixTimeMilliseconds(item.Timestamp);
                var normalizedClassName = $"class-{item.GuildCharacter.CharacterClass.Name.Replace(' ', '-').ToLower()}";
                switch (item.Type)
                {
                    case "itemLoot":
                        @Html.Raw($"<li><a href=\"#\" class=\"{normalizedClassName}\">{item.GuildCharacter.Name}</a> obtained <a href=\"//www.wowhead.com/item={item.ItemId}\" rel=\"bonus={item.FormattedBonusLists}\">{item.ItemId}</a>. <abbr class=\"timeago\" title=\"{dateTimeOffset.DateTime:O}\">{dateTimeOffset.DateTime:d}</abbr></li>")
                        break;
                    case "playerAchievement":
                        @Html.Raw($"<li><a href=\"#\" class=\"{normalizedClassName}\">{item.GuildCharacter.Name}</a> obtained the achievement <a href=\"//www.wowhead.com/achievement={item.Achievement.Id}\">{item.Achievement.Title}</a>. <abbr class=\"timeago\" title=\"{dateTimeOffset.DateTime:O}\">{dateTimeOffset.DateTime:d}</abbr></li>")
                        break;
                }
            }
        </ul>
    </div>
</div>