@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}

<div class="row">
    <div class="col-lg-offset-3 col-lg-6 md animated slideInDown">
        <div class="view-header">
            <div class="header-icon">
                <i class="pe page-header-icon pe-7s-lock"></i>
            </div>

            <div class="header-title">
                <h2>@ViewBag.Title</h2>
                <small>
                    Creating a password allows you to log in at places that do not allow connection through Battle.net.
                </small>
            </div>
        </div>
        <hr />

        <div class="panel panel-filled">
            <div class="panel-body">
                <form asp-controller="Manage" asp-action="SetPassword" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                    <h4>Change your password</h4>
                    <p>Please make sure to use a strong password. We recommend using a <a href="https://en.wikipedia.org/wiki/List_of_password_managers">password manager</a>, if you aren't already.</p>

                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="OldPassword" class="control-label"></label>
                        <input asp-for="OldPassword" class="form-control" />
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewPassword" class="control-label"></label>
                        <input asp-for="NewPassword" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-default">Change password</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
